* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	margin: 0;
	font-family: 'Barlow', sans-serif;
	color: #2C3543;
}
a {
	text-decoration: none;
	color: #fff;
}
a:hover {
	text-decoration: underline;
}
ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}
header {
	color: #fff;
	background: #000;
	height: 90px;
	padding: 0 20px;
	display: flex;
	flex-wrap: wrap;
}
.navbar-brand {
	width: 10%;
	padding-top: 20px;
}
.navbar-brand img {
	max-width: 105px;
}
.navbar-collapse {
	display: flex;
	width: 90%;
	padding-left: 20px;
	align-items: center;
}
.sub-nav {
	display: flex;
	flex-wrap: wrap;
	width: 75%;
}
.sub-nav .nav-item {
	max-width: 14%;
	padding: 0 24px;
	text-transform: uppercase;
	text-align: center;
}
.sub-nav .nav-item a {
	font-size: 16px;
	font-weight: 400;
	line-height: 1.2;
}
.sub-nav .cp_ipselect {
	overflow: hidden;
	width: 90%;
	margin: 0 auto;
	padding: 0 10px;
	text-align: center;
}
.cp_ipselect select {
	width: 100%;
	padding-right: 1em;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
}
.cp_ipselect select::-ms-expand {
    display: none;
}
.cp_ipselect.cp_sl01 {
	position: relative;
	border: 1px solid #bbbbbb;
	border-radius: 2px;
	background: #ffffff;
}
.cp_ipselect.cp_sl01::before {
	position: absolute;
	top: 0.8em;
	right: 0.9em;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #666666;
	pointer-events: none;
}
.cp_ipselect.cp_sl01 select {
	padding: 8px 38px 8px 8px;
	color: #666666;
}
.input-group-append {
	width: 15%;
}
.btn {
	width: 10%;
}


/**


.container {
	width: 100%;
	max-width: 1290px;
	margin: 0 auto;
	padding: 0 24px;
}
.RowFlex {
	display: flex;
	flex-wrap: wrap;
}
.SightsList {
	width: 50%;
	display: flex;
	flex-wrap: wrap;
	margin-left: -30px;
}
.Map {
	width: 50%;
	padding-left: 30px;
}
.Map img {
	width: 100%;
}
.Item {
	width: 50%;
	display: flex;
	flex-wrap: wrap;
	padding: 24px 0 24px 30px;
	border-bottom: 1px solid #E2E7EA;
}
.cover {
	width: 40%;
	position: relative;
}
.cover img {
	width: 100%;
}
.detail {
	width: 60%;
	padding-left: 24px;
	font-weight: 300;
}
.rank {
	font-size: 14px;
	color: #fff;
	position: absolute;
	display: inline-block;
	width: 24px;
	height: 24px;
	text-align: center;
	line-height: 24px;
	background: rgb(0, 0, 0, 0.6);
	top: 0;
	left: 0;
}
.country {
	font-size: 16px;
	margin-bottom: 8px;
}
.area {
	font-size: 11px;
	color: #B6C3CA;
	text-transform: uppercase;
}
@media (max-width: 1000px) {
	h3 {
		font-size: 32px;
	}
	.heading {
		margin-bottom: 48px;
	}
	.RowFlex {
		flex-direction: column;
	}
	.SightsList {
		width: 100%;
		margin-left: 0;
		margin-bottom: 48px;
	}
	.Map {
		width: 100%;
		padding-left: 0;
	}
}
@media (max-width: 670px) {
	.SightsList {
		width: 100%;
		flex-direction: column;
		margin-left: 0;
	}
	.Item {
		width: 100%;
		padding: 24px 0;
	}
}



